// *************
//   CONSTANTS
// *************
// Colors:
$turquoise:#1c818f;
$red:#dc4831;
$teal:#7fc7b6;
$green:#a9c038;
$navy_blue:#173e6b;
$pathway-orange: #f3ab1f;
$nav_hover_color: #fff !important;
$sidebar-gray:#d9d9d9;
$signin-btn:#b8801a;