// *************
//   CONSTANTS
// *************
// Colors:
$turquoise:#1c818f;
$red:#dc4831;
$teal:#7fc7b6;
$green:#a9c038;
$navy_blue:#173e6b;
$pathway-orange: #f3ab1f;
$nav_hover_color: #fff !important;
$sidebar-gray:#d9d9d9;
$signin-btn:#b8801a;
$body-text:#222;

// Navigation Color List (for loop classes):
$nav1_color: $turquoise;
$nav2_color: $red;
$nav3_color: $teal;
$nav4_color: $green;
$nav5_color: $navy_blue;

// Build Navigation Color List:
$nav_color_list: $nav1_color, $nav2_color, $nav3_color, $nav4_color, $nav5_color;
$nav_color_labels: "turquoise", "red", "teal", "green", "navy_blue";

@for $i from 1 through 5 {
	.#{nth($nav_color_labels, $i)}{
		color: nth($nav_color_list, $i);
	}
}