/*The first heading on any page*/
.page-title{ 
	font-family: Georgia, serif;
	font-size:265%;
	}


/*The text following the title*/
.page-summary{
	font-size:120%;
	font-style: italic;

}

.subheading{
	font-size:190%;
	text-transform: uppercase;
	font-weight: bold;
}

.main-content{

	padding-right:40px;

	p{
		font-size: 120%;

	}

		ul{
			
		
	}
			li{
				font-size: 120%;

	}		

}

#footnote{
	font-size:100%;
	font-style: italic;
}


#click-here{
	color:$red;
	font-style: italic;
	font-size: 120%;
	display:inline;
}

#location-icon{
	display:inline;
}

.play-button{
	display:inline;
	height:36px;
	width:39px;
}

#video-note{
	color:$red;
	font-style: italic;
	font-size: 110%;
	display:inline;
}

.p-heading{
	font-size:140%;
	font-style: italic;
	color: $red;
	margin-bottom:5px;
}

.p-heading2{
	font-size:100%;
	text-transform: uppercase;
	color: $red;
	font-weight:bold;
}

.p-heading3{
	font-size:100%;
	text-transform: uppercase;
	color:$red;
	display:inline;
	margin-bottom:0px;
}

.info-block{
	font-style: italic;
	color: #666666;
	display:inline;
}

#faqbubble{

}