/*The first heading on any page*/
.page-title{ 
	font-family: Georgia, serif;
	font-size:265%;
	margin-bottom: 0;
	}


/*The text following the title*/
.page-summary{
	font-size:120%;
	font-style: italic;
	/*margin-top:0px;*/

}

.subheading{
	font-size:190%;
	text-transform: uppercase;
	font-weight: bold;
}

.main-content{

	padding-right:40px;

	p{
		font-size: 120%;

	}

		ul{
			
		
	}
			li{
				font-size: 120%;

	}		

}

#footnote{
	font-size:100%;
	font-style: italic;
	border-top:solid #555555 2px;
	padding-top:25px;
	margin-bottom: 50px;
}


#click-here{
	color:$red;
	font-style: italic;
	font-size: 120%;
	display:inline;
	padding-left:10px;

a{
	text-decoration: underline;
}
}


#location-icon{
	display:inline;
	position:relative;
	z-index:2;

}

#video-info-block{
	padding: 20px 0 20px 0;
}

#caption-block{
	padding: 20px 0 50px 0;
}

.play-button{
	display:inline;
	height:36px;
	width:39px;
	/*margin-bottom: 20px;*/
}
.note{
	color:$red;
	font-style: italic;
	font-size: 140%;
	display:inline;
	padding-left:10px;
	/*margin-bottom: 20px;*/
}


.p-heading{
	font-size:140%;
	font-style: italic;
	color: $red;
	margin: 20px 0 5px 0;
}

.p-heading2{
	font-size:100%;
	text-transform: uppercase;
	color: $red;
	font-weight:bold;
	margin-top: 25px;
}

.p-heading3{
	font-size:100%;
	text-transform: uppercase;
	color:$red;
	display:inline;
	margin-bottom:0px;
}

.info-block{
	font-style: italic;
	color: #666666;
	display:inline;
}

#faqbubble{
	margin-top:15px;
}

.img-space {
	margin: 20px 0 40px 0;
}

#adm-img{
	position:relative;
	z-index:1;
	margin-top:-20px;
}