/*The first heading on any page*/
.page-title{ 
	font-family: Georgia, serif;
	font-size:265%;
	}


/*The text following the title*/
.page-summary{
	font-size:100%;
	font-style: italic;

}

.subheading{
	font-size:190%;
	text-transform: uppercase;
	font-weight: bold;
}

.main-content{

	p{
		font-size: 100%;

	

		ul{

		

			li{

			
}
}
}
}

#click-here{

}

#footnote{

}

.p-heading{

}

