/*********************
   Header & Footer
*********************/

// Colors:
@import "colorScheme";

/****** Header ******/
.pathway-header {
	padding: 0px;
	background-color: $pathway-orange !important;
	box-shadow: 0px 5px 20px rgba(0,0,0,.3);
	border: none;
	z-index: 5;
	border-radius: 0;
}

#pathway-mobile-logo {
	display: block;
	position: relative;
	left: 50%;
	margin-left: -93px;
}

#pathway-logo {
	padding: 12px 0;
}

.header_contact {
	text-transform:none;
	color:#4d4d4d !important;
	font-size:110%;
	img {
		vertical-align:text-top;
	}
	&:hover {
		text-decoration:underline !important;
	}
}

.orange-bar {
	float: none !important;
}

.faq-bubble {
	vertical-align: top;
}

.navbar-brand {
	float: none;
}

.navbar {
	margin-bottom: 0;
}

.signin-btn {
	background-color:$signin-btn;
	color:white;
	font-weight:bold;
}

@media (min-width: 768px) {
	.signin-btn {
		height:50px;
		margin-top:-5px;
		padding-top: 14px;
	}
}
#siteNavigation {
	padding:0;
	border:none;
}
.site-navigation {
	display: block;
	background: none;
	border: none;
	border-radius: 0;
	min-height:0;
	border-bottom: #a0a0a0 solid 1px;
	
	nav {
		max-height:none;
	}
	
	ul {
		float: none;
		
		li {
			margin-bottom: 0px;
			text-align: center;
			display: table;
			border-left: #a0a0a0 solid 1px;
			width: 19.9%;
			height: 50px;
			font-size: 85%;
			
			&:first-child {
				border-left: none;
			}
			
			// Set navigation box color
			@for $i from 1 through 5 {
				&.nav-#{$i}.nav_active {
						background-color: nth($nav_color_list, $i);
						a {
							color: $nav_hover_color;
						}
				}
				&.nav-#{$i} {
					a {
						border-bottom: solid 6px;
						border-bottom-color: nth($nav_color_list, $i);
					}
					a:hover {
						background-color: nth($nav_color_list, $i);
						color: $nav_hover_color;
					}
				}
			}
			
			a {
				display: table-cell;
				letter-spacing: 2px;
				color: #4d4d4d !important;
				font-weight: bold;
				font-size: 100%;
				vertical-align: middle;
				line-height: 16px;
				padding: 0 15px;
			}
		}
	}
}

.main_toggle{
	position: absolute;
	top: -91px;
	margin: 33px;
	margin-left: 12px;
	z-index: 5;
	background-color:$signin-btn;
	border:none;
}

@media (max-width: 767px) {
	.navbar-inverse {
		border:none !important;
	}
	.site-navigation {
	
		border:none !important;
		 ul {
			margin: 0px;
		
			li {
				width: 100%;
				border: 0;
				
				@for $i from 1 through 5 {
				&.nav-#{$i} {
					a {
						border-bottom: solid 1px;
						border-bottom-color: $sidebar-gray;
					}
				}
			}
				
			}
		}
	}
	
	#siteNavigation {
		padding: 0;
	}
	
	div.pathway-header {
		.header-column {
			width: 33.3%;
			float: left !important;
		}
		
		.navbar-right {
			margin-top: 15.5px;
			margin-right: 12px;
		}
	}
	
	
}

/****** Footer ******/

footer {
	line-height: 45px;
	border-top: #b3b3b3 solid 1px;
	border-radius: 0;
	text-transform:uppercase;
	
	.navbar-nav {
		margin:0;	
	}
}

.footer-links{
	
	padding: 37px 0;
	
	.social-icon {
		margin:5px;
	}
	
	li {
		padding:0 21px;
		
		&:first-child{
			border-right: solid 1px;
			padding-left:0px;
		}
	}
}