// *************
//   CONSTANTS
// *************
// Colors:
@import "colorScheme";

$dark_gray:	#ddd;
$link_color: #fff;

// ************
//    MIXINS
// ************
@mixin backgroundColor ($isMobile:false) {
	$mobile-bg-c:#3b3b3b;
	$desktop-bg-c:#fff;
	
	@if ($isMobile == true) {
		background-color: $mobile-bg-c;
	} @else {
		background-color: $desktop-bg-c;
	}
}

// Off Canvas
// $direction: left or right
// $amount: accepts any numerical amount
@mixin offcanvas ($direction:left, $amount:0) {
	#{$direction}:$amount;
}

// Display SideBar
@mixin SB_disp ($displayState:false) {
	@if ($displayState == true) {
		display:block;
	} @else {
		display:none;
	}
}

@mixin row_offcanvas ($shift_direction, $canvas_shift_amt) {
	.row-offcanvas-#{$shift_direction} {
		&.active {
			@include offcanvas($shift_direction, $canvas_shift_amt);
			#sidebar {
				@include SB_disp(true);
			}
		}
		#sidebar {
			@include offcanvas($shift_direction, -$canvas_shift_amt);
		}
	}	
		
}

/************************
	 SIDE BAR STYLE SHEET
 ************************/
html, body { 
	height:100%; 
}

body {
	position: relative;
}

.text-center { padding-top: 20px; }

.col-xs-12 { @include backgroundColor (false); }
 
.navbar-toggle {
	$direction: right;
	
	float: $direction;
	margin-#{$direction}: 10px;
} 
 
#sidebar {
	$logo_size:45px;
	position: relative;
	background-color: $sidebar-gray;
	border-right: solid white 20px;
	@include padding(left right, 30px);
	
	.sidebar-caret {
		position: absolute;
		width: 0; 
		height: 0;
		left: -24px;
		border-top: 24px solid transparent;
		border-bottom: 24px solid transparent; 
		border-right: 24px solid $sidebar-gray;
		&.pos1 {
			top: 17px;
		}
		&.pos2 {
			top: 77px;
		}
		&.pos3 {
			top: 144px;
		}
	}
	
	.header {
		$offsetRatio: (1/3);
		$offset:$logo_size * $offsetRatio;
		
		//@include padding(right, $offset !important);
		@include padding(top, 40px);
		
		li {
			margin-bottom:40px;
		}	
			
		a {
			padding:0;
			background:none;
			img {
				width: 100%;
				height: 100%;
			}
		}
		
		p {
			text-transform: none;
			@include padding(top, 10px);
			color:$navy_blue;
		}
	}
	
	.nav {
		font-weight:bold;
		text-transform:uppercase;
		p {
			font-weight:normal;
			text-transform:capitalize;
		}
		.nav {
			display: none;
			padding-left:.8em;
			font-weight:normal;
			text-transform:capitalize;
		}

		li {
			
			a, a:hover, a:visited {
				color: $body-text;
			}
			&.active {
				color:$red;
			
				a, a:hover, a:visited {
					color:$red;
				}
				
				.nav {
					display:block;
				}
				
				.caret {
					@include caret(true, $red);
				}
			
				a:hover {
					.caret {
						@include caret(true, $red);
					}
				}
			}
		}
				
		.caret {
			@include caret(false, $body-text);
		}
		
		a:hover {
			.caret {
				@include caret(false, $body-text);
			}
		}
	}
	
	
	#sideNav {
	
		h3 {
			a {
				text-transform: uppercase;
				color: rgba(#222, .5);
				font-weight: bold;
				font-size: 90%;
				letter-spacing: 2px;
				
				&.active {
					color: #222;
					img {
						opacity:1;
					}	
				}
				img {
					width:45px;
					height:44px;
					opacity:0.5;
				}
			}
		}
		
		@media (max-width: 992px) {
			//width: 187.5px;
			font-size:13px;
			.nav .nav {
				padding-left:0.8em;
			}
			h3 {
				font-size:20px;
			}
		}
		
		/*&.affix {
			position: fixed;
			top:0;
		}
		
		&.affix-bottom {
			position:absolute;
			top: auto;
			bottom:200px;
		}
		
		&.affix-top {
			top:100px;
		}*/
	}
}

/***************
	 SIDE BAR
	 For Tablets
 ***************/

@media screen and (max-width: 767px) {

/**************
	 ROW CANVAS
 **************/
	//$canvas_shift_amt: 41.6%;
	$canvas_shift_amt: 500px;

	@include row_offcanvas(left, $canvas_shift_amt);
	@include row_offcanvas(right, $canvas_shift_amt);
	
/************
	 SIDE BAR
 ************/	
	#sidebar {
		position: absolute;
		width: $canvas_shift_amt;
		z-index: -99;
		top:0;

		#sideNav {
			width:100%;
			&.affix {
				position: absolute;
				width:auto;
			}
		}
				
		.nav {
			li {
				
				&:first-child { border-top: 0; }
				
				&:active {
					.nav { display:block; }
					a {											
						.caret {
							border-left-color: transparent;
							border-top-color: $body-text;
							border-bottom-color: $body-text;
						}
						
						&:hover, &:focus {					
							.caret {
								border-left-color: transparent;
								border-top-color: $body-text;
								border-bottom-color: $body-text;
							}
						}
					}
				}
				
				a {
					img { max-width: 14px; }
					
					.caret {
						border-left-color: $body-text;
						border-top-color: transparent;
						border-bottom-color: transparent;
					}
					
					&:hover, &:focus {
						.caret {
							border-left-color: $body-text;
							border-top-color: transparent;
							border-bottom-color: transparent;
						}
					}
				}				
			}
		}
	}	
}