@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "content_body";
@import "BreadCrumb";


.underline {
	 	padding-bottom:15px;
		margin-bottom:30px;
	 	border-bottom: $red solid 2px;

	 }

.container {
	clear:both;
	padding-bottom: 20px;
}




