@import "global";
@import "FunctionLibrary";
@import "header-footer";
@import "sidebar";
@import "content_body";
@import "BreadCrumb";

.subheading {
	 &.underline {
	 	padding-bottom:15px;
		margin-bottom:30px;
	 	border-bottom: $turquoise solid 2px;
	 }

}

.feature-vid-title {
	font-size:150%;
	font-weight:bold;
	color:$turquoise;
	text-transform: none;
}

.vid-title {
	font-size: 130%;
	font-weight:bold;
	text-transform: uppercase;
	color:$turquoise;
}

.container {
	clear:both;
}

.video-list {
	padding:30px 0;
}

.testimonial-quote-block {
	padding-top:60px;
}

.quote-bubble {
	position:relative;
	z-index:1;
}

.quote {
	position:relative;
	z-index:2;
	margin-top:-205px;
	padding:16px;
	color:#fff;
	font-size:138%;
	line-height:155%;
}

.quote-credit {
	padding: 30px 0 0 90px;
	font-size:115%;
}

